[class*='player'] {
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

.player1 {
  @extend .icon-x;
}

.player2 {
  @extend .icon-circle;
}

[class*="icon"] {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon-x {
  background-image: url('../x.svg');
}

.icon-circle {
  background-image: url('../circle.svg');
}
