.setup-page {
  display: flex;
  width: 100%;
}

.setup-page input, .setup-page button {
  width: 100%;
}

.setup-page input {
  margin-top: 5px; 
}

.setup-page label {
  margin-top: 25px;
}

.collumn {
  flex-grow: 1;
  width: 50%;
}

.setup-page {
  .player [class*="icon"] {
    margin: 0 auto;
    width: 140px;
    height: 140px;
  }

  input {
    width: 200px;
    margin: 10px auto;
    display: block;
  }
}
