@import "../variables.scss";
@import "../mixins.scss";

.board {
  display: flex;
  flex-wrap: wrap;
  outline: var(--grid-border);
  width: var(--board-size);
}

.board-slot {
  --dimensions: calc(var(--board-size) / 3);

  background-color: var(--base-color);
  border: var(--grid-border);
  height: var(--dimensions);
  width: var(--dimensions);
  cursor: pointer;
}

.board-slot:hover:not(.filled) {
  background-color: #3e5368;
  @include background-transition(150ms);
}

.filled {
  @include background-transition();
}

.filled.winner {
  animation: win infinite alternate ease-in-out .54s;
}

@keyframes win {
  0% {
    background-size: 40%;
  }

  100% {
    background-size: 50%;
  }
}
