@import "../variables.scss";
@import "../mixins.scss";

$board-size: 500px;
$grid-size: $board-size / 3;
$grid-border: 1px solid rgba(255, 255, 255, .1);

.board {
  display: flex;
  flex-wrap: wrap;
  height: $board-size;
  width: $board-size;
  outline: $grid-border;
}

.slot {
  background-color: $base-color;
  border: $grid-border;
  cursor: pointer;
  height: $grid-size;
  width: $grid-size;

  &:hover:not(.filled) {
    background-color: $base-color + 10%;
    @include background-transition(150ms);
  }
}

.filled {
  @include background-transition();
}

.player2 {
  background-color: $danger-color;
}

.player1 {
  background-color: #f1c40f;
}
