:root {
  --board-size: 200px;
  --grid-border: 1px solid rgba(255, 255, 255, .1);
  --base-color: #34495e;
  --base-color-lighter: #465f78;
  --danger-color: #e74c3c;
  --success-color: #27ae60;
}

@media only screen and (min-device-width : 768px) {
  :root {
    --board-size: 500px;
  }
}

$base-color: #34495e;
$danger-color: #e74c3c;
$success-color: #27ae60;
