@import "./variables.scss";
@import "./mixins.scss";

$base-color: #34495e;

* {
  box-sizing: border-box;
}

body {
  background-color: #2c3e50;
  color: #fff;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body, button, .button {
  font-size: 1.2em;
}

@media only screen and (min-device-width : 768px) {
  body, button, .button { 
    font-size: 1em;
  }
}

.tic-tac-toe-app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;  
  flex-direction: column;
}

a {
  color: $success-color;
}

label {
  display: block;
}

.new-game-button {
  display: block;
  width: 180px;
  text-align: center;
}

input {
  @include background-transition(180ms, ease-in-out);

  background: $base-color;
  border: 1px solid $base-color + 15%;
  border-radius: 5px;
  color: #fff;
  font-weight: 200;
  padding: 10px;

  &:focus {
    background: $base-color + 50%;
  }
}

button, .button {
  @include background-transition(180ms, ease-in-out);

  background-color: $success-color;
  border-width: 0px;
  border-radius: 5px;
  color: #fff;
  font-weight: 200;
  margin-top: 25px;
  padding: 10px 20px;
  text-decoration: none;

  &:disabled {
    background-color: $danger-color;
    color: $danger-color - 60%;
  }
}

form {
  font-weight: 200;
}

.app-footer {
  height: 70px;
  display: block;
}